.alert-container {
    position: fixed;
    top: 47px;
    right: auto;
    left: auto;
    width: 100%;
    background: transparent;
    text-align: center;
    display: none;

    z-index: 9999999;

    .alert-content {
        width: $grid-base * 6;
        margin-right: auto;
        margin-left: auto;
        border-bottom-right-radius: $radius + 2;
        border-bottom-left-radius: $radius + 2;
        padding: 10px;

        &.success {
        background-color: lighten($color-blue, 20);
        color: $color-white;
        }

        &.error {
            background-color: lighten($color-red, 20);
            color: $color-white;
        }
    }

    &.is-active {
        display: block;
    }

    &.is-inactive {
        display: none;
    }
}
