@-webkit-keyframes accordionIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
        height: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        height: auto;
    }
}

@keyframes accordionIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
        height: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        height: auto;
    }
}

.accordionIn {
  -webkit-animation-name: accordionIn;
  animation-name: accordionIn;
}

@-webkit-keyframes accordionOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
        height: 0;
    }
}

@keyframes accordionOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
        height: 0;
    }
}

.accordionOut {
  -webkit-animation-name: accordionOut;
  animation-name: accordionOut;
}
