body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: $color-gray;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: $color-blue;
}

.content {
    clear: both;
}

.content-holder {
    margin-top: 60px;
    transition: margin 0.3s ease-in-out;
}

.sidebar.is-active + .content-holder {
    margin-left: 300px;
    margin-right: 60px;
}

.sidebar.is-inactive + .content-holder {
    margin-left: 60px;
    margin-right: 60px;
}

.content-box {
    width: $grid-base * 16;
    margin-right: auto;
    margin-left: auto;
}

.is-active {
    display: block;
}

.is-inactive {
    display: none;
}
