.login {
    max-width: $grid-base * 7;
    background-color: $color-white;
    margin-right: auto;
    margin-left: auto;
    border-radius: $radius + 2;

    .form-links {
        margin: 20px;
        padding: 0;
        padding-bottom: 20px;
    }
}

.input-wrapper-container {
    &.login .input-wrapper {
        margin: 20px;

        .input-icon {
            padding: 15px 15px !important;
        }
    }
}

.form-header {
    background-color: $color-blue;
    padding: 10px;
    text-align: center;
    color: $color-white;
    margin-bottom: 10px;
    border-top-right-radius: $radius + 2;
    border-top-left-radius: $radius + 2;
}

.input-wrapper-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.input-wrapper-group .input-wrapper-container {
    margin: 5px;
    font-size: 80%;

    input {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 1px;
        line-height: 20px;
        border: 1px solid lighten($color-black, 50);

        &.input-small {
            width: $grid-base * 2;
        }
    }

    select {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 1px;
        line-height: 20px;
        border: 1px solid lighten($color-black, 50);

        &.input-small {
            width: $grid-base * 2;
        }
    }

    .input-icon {
        z-index: 99;

        i {
            margin-top: -5px;
        }
    }
}

.form-choose-action {
    padding-left: 10px;
}


.input-wrapper-group.input-nonflex {
    display: block;

    .input-wrapper-container {
        display: inline-block;
    }

    button, input, select {
        width: $grid-base * 3;

    }
}

.input-wrapper-group.input-nonflex .input-wrapper-container {
    flex: none;
}

.input-wrapper-divider {
    border-bottom: 1px solid lighten($color-red, 10);
    margin-top: 0px;
    margin-bottom: 0px;
}

.input-wrapper-group .input-wrapper-container {
    flex: 1;
}

.form-content {
    h1, h2, h3, h4, h5, h6 {
        font-size: 80%;
        padding: 0;
    }
}

.form-content .input-wrapper-container {
    &.inline {
        display: inline-block;
    }
}

.input-wrapper-container {
    margin: 5px;

    .error {
        color: $color-red;
        font-size: 80%;
        margin-top: -20px;
        margin-left: 20px;
    }

    button {
        padding: 5px;
        text-align: center;
        background-color: $color-blue;
        border: none;
        color: $color-white;
        width: 100%;
    }
}

.input-wrapper {
    position: relative;

    * {
        display: block;
        width: 100%;
    }

    input {
        padding: 10px;
        padding-left: 50px;
        border-radius: 0px;
        box-shadow: none;
        font-size: inherit;
    }

    .input-icon {
        position: absolute;
        width: 45px;
        text-align: center;
        padding: 10px 15px;
        height: calc(100% - 2px);
        margin-top: 1px;
        margin-left: 1px;
        background-color: lighten($color-gray, 30);
    }

    select {
        padding: 10px;
        padding-left: 50px;
    }

    button {
        padding: 10px;
        text-align: center;
        background-color: $color-blue;
        border: none;
        color: $color-white;
    }
}

.form-links {
    padding: 10px;
}

.btn-danger {
    background-color: $color-red !important;
}
