.grid-container {
    margin-left: 5px;
    padding: 0px !important;
    overflow: hidden !important;
}

.wtHider {
    max-width: 930px !important;
    width: 930px !important;
}

.htCore {
    font-size: 80%;
}

.ht_master tr > td {
    padding: 4px 0px 0px 4px !important;
}

.ht_master tr > td.current {
  background-color: lighten($color-blue, 30);
}


.tabs {
  margin-top: 10px;
}

.tabs-navigation {
  padding: 0 50px;
  font-size: 80%;
}

.tab-panel {
    padding: 10px 0px;
}
.tabs-navigation {
  padding: 0 5px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  border-bottom: 0;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}

.tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #DDD;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}
