.header {
    background-color: $color-white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    clear: both;
    color: $color-black;
    box-shadow: 0px 2px 4px transparentize($color-black, 0.5);
}

.header-titlebox {
    width: $grid-base * 4;
    float: left;
}

.header-menuicon,
.header-title {
    display: inline-block;
    padding: 10px;
}

.header-menuicon {
    margin-left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &:hover {
        text-align: center;
        cursor: pointer;
        color: $color-white;
        background-color: $color-blue;
    }

    &.is-hidden {
        display: none;
    }
}

.header-title {
    margin-left: 10px;
}

.header-title p {
    font-weight: lighter;
    font-size: 120%;
}

.header-navright {
    float: right;
    width: $grid-base * 4;
    padding: 10px;
    cursor: pointer;
    position: relative;
    color: $color-blue;
}

.header-usertitle,
.header-notificationicon,
.header-globalicon {
    display: inline-block;
}

.header-notificationicon,
.header-globalicon {
    margin-right: 20px;
}

.header-navright-dropdown {
    position: absolute;
    top: auto;
    right: auto;
    background-color: $color-blue;
    list-style-type: none;
    color: $color-white;
    width: $grid-base * 4;
    margin-top: 15px;
    display: none;
}

.header-navright-dropdown li {
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid $color-white;

    &:last-child {
        border-bottom: none;
    }
}
