.content-container {
    background-color: $color-white;
    border-radius: $radius + 2;
}

.content-panel-title {
    text-align: center;
    color: $color-white;
    background-color: $color-blue;
    font-weight: lighter;
}

.content-panel-title,
.content-content,
.content-loading {
    padding: 5px;
}

.content-panel-title {
    font-size: 70%;
}

.content-header {
    padding: 10px 10px 0px 10px;
    font-size: 80%;
}

.content-header p {
    font-size: 100%;
}

.content-header .home-header--slant {
    color: $color-blue;
    font-style: italic;
}

.home-links-holder {
    list-style-type: none;
    margin-top: 20px;
}

.home-links-content {
    color: $color-blue;
}
