.nano .nano-pane {
    background-color: darken($color-blue, 5);
}

.sidebar {
    background-color: $color-blue;
    width: $grid-base * 4;
    color: $color-white;
    transition: margin-left 0.3s ease-in-out;
    position: fixed;
    top: 47px;
    bottom: 0;
    left: 0;
    z-index: 9999;

    &.is-active {
        margin-left: 0px;
        display: block !important;
    }

    &.is-inactive {
        margin-left: -240px;
        display: block !important;
    }
}

.sidebar-title {
    border-bottom: 1px solid $color-white;
    padding: 20px 30px;

    .sidebar-titlecontent {
        font-size: 80%;
    }
}

.sidebar-navcontainer {
    list-style-type: none;
}

.sidebar-navmenu {
    transition: all 0.3s;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-navcontent-box {
    margin: 10px 30px;
    padding: 10px 0px;

    &:hover {
        cursor: pointer;
    }

    .sidebar-nav--inline {
        display: inline-block;
        font-size: 80%;
    }

    .sidebar-navicon-open {
        float: right;
        margin-right: 0px;
        margin-top: 3px;
        transition: transform 0.5s ease-in-out;
    }

    .sidebar-navicon-open.slide {
        transform: rotate(90deg);
    }

    .sidebar-navcontent {
        margin-left: 10px;
        width: 130px;
        text-overflow: ellipsis;
    }
}

.sidebar-navmenu-content {
    font-size: 90%;
    background-color: darken($color-blue, 20);
    display: none;
    height: 0;
    transition: height 0.5s;

    &.is-active {
        display: block;
    }

    &.is-collapsed {
        display: none;
    }

    &.accordion-in {
        animation: accordionIn 0.3s ease-in-out both 1;
    }

    &.accordion-out {
        animation: accordionOut 0.3s ease-in-out both 1;
    }
}

ul.sidebar-navmenu-contentbox {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: darken($color-blue, 20);
    padding-left: 30px;
}

ul.sidebar-navmenu-contentbox li {
    &:first-child {
        padding-top: 20px;
    }

    &:last-child {
        padding-bottom: 20px;
    }

    padding: 5px;
}

.sidebar-menuitem {
    font-size: 90%;

    i {
        float: left;
        font-size: 55%;
        margin-top: 6px;
        margin-right: 10px;
    }

    a {
        color: $color-white;
    }
}
