$color-black: rgb(33,33,33);
$color-blue: rgb(41,128,185);
$color-gray: rgb(158,158,158);
$color-white: rgb(255,255,255);
$color-behance: #F5F5F5;
$color-red: #D32F2F;
$grid-base: 60px;
$radius: 3px;
